<ion-header>
  <ion-toolbar>
    <ion-title>
      EnCounter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img [src]="currentImage"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title>Quote of the day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{currentQuote}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="challenge-card" *ngIf="!completeChallenges">
    <ion-card-header>
      <ion-card-title class="white-font">Challenge {{currentChallengeNumber}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 class="white-font">{{currentChallenge.subtitle}}</h2>
      <h3 class="white-font">{{currentChallenge.description}}</h3>
    </ion-card-content>
  </ion-card>
  <ion-card class="complete-challenges-card" *ngIf="completeChallenges">
      <ion-card-header>
        <ion-card-title class="white-font">Congratulations!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 class="white-font">You have completed all challenges!</h2>
        <h3 class="white-font">Check the app for updates. New challenges are comming up!</h3>
      </ion-card-content>
  </ion-card>
  <ion-card class="new-people-card">
    <ion-card-header>
      <ion-card-title class="white-font">New People</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">0</h1>
        <ion-button class="change-button" fill="clear" style="margin-left: auto; color: #fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button class="change-button" fill="clear" style="color:#fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('New People','Keep track of how many new people you met during the day.')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="connections-card">
    <ion-card-header>
      <ion-card-title class="white-font">Connections</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">1</h1>
        <ion-button class="change-button" fill="clear" style="margin-left: auto; color:#fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button class="change-button" fill="clear" style="color: #fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('Social Connections','Used for counting how many social connections you were able to get during the day.')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="men-card">
    <ion-card-header>
      <ion-card-title class="white-font">Men</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">1</h1>
        <ion-button class="change-button" fill="clear" style="margin-left: auto; color:#fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button class="change-button" fill="clear" style="color: #fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('№ of Men','you have talked to ( could be new encounters, friends or collagues )')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="women-card">
    <ion-card-header>
      <ion-card-title class="white-font">Women</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">1</h1>
        <ion-button class="change-button" fill="clear" style="margin-left: auto; color:#fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button class="change-button" fill="clear" style="color: #fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('№ of Women','you have talked to ( could be new encounters, friends or collagues )')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>