.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.change-button {
  --color-activated: #fbfbfb;
  --color-focused: #fbfbfb;
  --border-radius: 42%;
}

*[name="help-circle"] {
  position: absolute;
  top: -39px;
  color: #fbfbfb !important;
  right: 20px;
  font-size: 20px;
}

.white-font {
  color: #fbfbfb;
}

.challenge-card {
  background: #FF8800;
}

.complete-challenges-card {
  background: #00695c;
}

.new-people-card {
  background: #33b5e5;
}

.connections-card {
  background: #00C851;
}

.men-card {
  background: #4285F4;
}

.women-card {
  background: #aa66cc;
}

.connection-title {
  font-size: 22px;
}

.enlarge {
  animation: enlarge 0.8s infinite;
}

@keyframes enlarge {
  0% {
    font-size: 22px;
  }
  50% {
    font-size: 24px;
  }
  100% {
    font-size: 22px;
  }
}

.connection-number {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 30px;
  text-align: center;
}

.pulse {
  box-shadow: 0 0 0 #fbfbfb;
  animation: pulse 0.8s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(251, 261, 251, 0.42);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(251, 261, 251, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(251, 261, 251, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(251, 261, 251, 0.42);
    box-shadow: 0 0 0 0 rgba(251, 261, 251, 0.42);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(251, 261, 251, 0);
      box-shadow: 0 0 0 10px rgba(251, 261, 251, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(251, 261, 251, 0);
      box-shadow: 0 0 0 0 rgba(251, 261, 251, 0);
  }
}