<ion-header>
  <ion-toolbar color="success">
    <ion-title class="bold">
      EnCounter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" class="ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-img [src]="currentImage"></ion-img>
    <ion-card-header>
      <ion-card-title>Quote of the day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{currentQuote}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="challenge-card ion-activatable" *ngIf="!completeChallenges">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title class="white-font">Challenge {{currentChallengeNumber}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 class="white-font">{{currentChallenge.subtitle}}</h2>
      <h3 class="white-font">{{currentChallenge.description}}</h3>
    </ion-card-content>
  </ion-card>
  <ion-card class="complete-challenges-card ion-activatable" *ngIf="completeChallenges">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
        <ion-card-title class="white-font">Congratulations!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 class="white-font">You have completed all challenges!</h2>
        <h3 class="white-font">Check the app for updates. New challenges are comming up!</h3>
      </ion-card-content>
  </ion-card>
  <ion-card class="new-people-card ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title class="white-font">New People</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">{{counters.people[fullDate]}}</h1>
        <ion-button (click)="increaseValue('people')" class="change-button" fill="clear" style="margin-left: auto; color: #fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="decreaseValue('people')" class="change-button" fill="clear" style="color:#fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('New People','Keep track of how many new people you met during the day.')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="connections-card ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title style="text-align: center;" class="white-font">
        <ion-icon name="star"></ion-icon>&nbsp; <span class="connection-title">Connections</span> &nbsp;<ion-icon name="star"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; justify-content: center; margin-bottom: 5px; margin-top: 5px;">
        <h1 class="white-font connection-number">{{counters.connections[fullDate]}}</h1>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="men-card ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title class="white-font">Men</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">{{counters.men[fullDate]}}</h1>
        <ion-button (click)="increaseValue('men')" class="change-button" fill="clear" style="margin-left: auto; color:#fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="decreaseValue('men')" class="change-button" fill="clear" style="color: #fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('№ of Men','you have talked to ( could be new encounters, friends or collagues )')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-card class="women-card ion-activatable">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-card-header>
      <ion-card-title class="white-font">Women</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <h1 class="white-font">{{counters.women[fullDate]}}</h1>
        <ion-button (click)="increaseValue('women')" class="change-button" fill="clear" style="margin-left: auto; color:#fbfbfb;"><ion-icon name="add"></ion-icon></ion-button>
        <ion-button (click)="decreaseValue('women')" class="change-button" fill="clear" style="color: #fbfbfb;"><ion-icon name="remove"></ion-icon></ion-button>
      </div>
      <ion-icon (click)="showInfo('№ of Women','you have talked to ( could be new encounters, friends or collagues )')" name="help-circle"></ion-icon>
    </ion-card-content>
  </ion-card>
</ion-content>