<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/images/slide.png" />
    </ion-slide>
  
    <ion-slide>
      <img src="assets/images/slide.png" />
    </ion-slide>
  
    <ion-slide>
      <img src="assets/images/slide.png" />
    </ion-slide>

    <ion-slide>
        <div>
          <div>
            <img src="assets/images/slide.png" />
          </div>
          <ion-button color="dark" (click)="goToHome()">
            Let's go!
          </ion-button>
        </div>
    </ion-slide>
  
  </ion-slides>  
</ion-content>