<ion-header>
  <ion-toolbar>
    <ion-title>
      Daily Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title>Quote of the day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>It is not about who you meet, it is about who you talk to.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Challenge 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Meet 2 new people</h2>
      <h3>Each new interaction should be started differently</h3>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>New people</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <ion-card>
          <ion-card-content>
            <h1>0</h1>
          </ion-card-content>
        </ion-card>
        <ion-button color="primary" style="margin-left: auto;">+</ion-button>
        <ion-button color="secondary">-</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>New people 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex;">
        <ion-card>
          <ion-card-content>
            <h1>1</h1>
          </ion-card-content>
        </ion-card>
        <ion-button color="primary" style="margin-left: auto;">+</ion-button>
        <ion-button color="secondary">-</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>